@import "./navbar.scss";

$colors: (
    primary: #FFFFFF,
    secondary: #2D3436,
    accent:#6C5CE7,
    write: #000000
);

$fonts: (
    bold: 3rem,
    medium: 1.5rem
);

body, html {
    height: 100%;
}

body {
    background-color: map-get($colors, primary);
    color: map-get($colors, primary );
    font-family: poppins;
}


.nav-wrapper {
    background-color: map-get($colors, primary);
}

.header {
    margin-top: 0;
    background-image: url(../images/Rectangle2.jpg);
    height: 80vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
p {
    text-align: left;
    font-weight: map-get($fonts, medium);
}
}

.picture {
    img{
        position: absolute;
        bottom: 20px;
    }
}

.port {
    color: black;
    text-align: center;
    margin-left: 10rem;
}

.box {
    margin-top: 5px;
}

.logo {
    color: black;
    font-family: Galada, cursive;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-right: 5rem;
}

.text {
    color: black;
    margin: 0;
}

.btn {
    background-color: map-get($colors, primary);
    color: black;
    border: 1px solid black;
}